.app__home-banner {
    width: 100vw;
    background: #003145;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;

    @media (max-width: 480px) {
        flex-direction: column;
        // height: 100vh;
        padding: 20px 0;
    }

    @media (min-width: 768px) {
        width: 100vw;
    }

    .app__home-banner-test {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
        padding-left: 100px;
        padding-top: 20px;

        @media (max-width: 480px) {
            padding-left: 22px;
        }
    }

    .app__home-banner-heading {
        display: flex;

        span {
            width: 6.71px;
            height: 115.91px;
            position: relative;
            left: -4%;
            background: #FFCE5C;
        }

        div {
            h3 {
                font-style: normal;
                font-family: 'Poppins';
                font-weight: 600;
                font-size: 48px;
                line-height: 56px;
                color: #FFFFFF;
            }
        }

    }

    p {
        font-family: 'Poppins';
        font-size: 18px;
        line-height: 14px;
        color: #ECECEC;
    }

    .app__homeBanner-link {
        color: #003145;
        width: 198px;
        height: 47px;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 18px;
        background: #FFFFFF;
        border-radius: 10px;
        text-decoration: none;
        display: inline-block;
        line-height: 2.5;
    }
}