.app__hacktathon-create {
    display: flex;
    align-items: center;
    justify-content: center;

    form {
        background-color: #f5f5f5;
        display: flex;
        flex-direction: column;
        width: 500px;
        justify-content: center;
        align-items: center;
        margin: 50px 0;
        border-radius: 10px;

        .app__hackathon-create-input {
            width: 453px;
            height: 39px;
            border: 1px solid #B7B7B7;
            border-radius: 5px;

            @media (max-width: 480px) {
                width: 90%;
            }
        }

        .app__hackathon-create-input-radio {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            padding-left: 24px;
        }

        .app__sign-up-input {
            width: 300px;
            height: 40px;
            border-radius: 5px;
            border: 1px solid #ccc;
            padding: 0 10px;
            margin-bottom: 10px;
            background-color: rgb(11, 177, 11);
            color: white;
        }

        @media (max-width: 480px) {
            width: 90vw;
        }
    }
}